# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

frames/
ocr/
var/
*.ocr.txt
*.mkv
*.mp4

# Environments
.env.*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/

# VSCode
*.code-workspace
